@{
    ViewData["Title"] = "Create Admin Account";
}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="d-flex justify-content-center py-4">
            <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="~/img/logo.png" alt="IOT">
                <span class="d-none d-lg-block">IOT</span>
            </a>
        </div><!-- End Logo -->

        <div class="card mb-3">
            <div class="card-body">

                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create Admin Account</h5>
                    <p class="text-center small">Enter details to create account</p>
                </div>

                <form method="post" class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                        <label for="txt_firstName" class="form-label">First Name</label>
                        <input type="text" name="txt_firstName" class="form-control" id="txt_firstName" required>
                        <div class="invalid-feedback">Please, enter first name!</div>
                    </div>

                    <div class="col-12">
                        <label for="txt_lastName" class="form-label">Last Name</label>
                        <input type="text" name="txt_lastName" class="form-control" id="txt_lastName" required>
                        <div class="invalid-feedback">Please, enter last name!</div>
                    </div>

                    <div class="col-12">
                        <label for="txt_email" class="form-label">Email</label>
                        <input type="email" name="txt_email" class="form-control" id="txt_email" required>
                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                        <label for="txt_password" class="form-label">Password</label>
                        <input type="password" name="txt_password" class="form-control" id="txt_password" required>
                        <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0 text-center">Already have an account? <a href="@Url.Action("Index", "Login")">Log in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>