<div class="modal fade" id="addProductType" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Product Type</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Product Type" id="txt_productType">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Min Value" id="txt_minValue">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Max Value" id="txt_maxValue">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="UOM" id="txt_uom">
                    </div>
                    <div class="mb-3">
                        <label>Is Active?</label>
                        <input type="checkbox" name="isActive" id="txt_active">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="btnAddProductType()">Add</button>
            </div>
        </div>
    </div>
</div>