<div class="modal fade" id="addCustomer" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Customer Name" id="txt_name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Phone Number" id="txt_phone">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email" id="txt_email">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="City" id="txt_city">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Region" id="txt_region">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="btnAddCustomer()">Add</button>
            </div>
        </div>
    </div>
</div>