<div class="modal fade" id="updateCustomer" tabindex="-1" aria-labelledby="updateCustomerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" >Update Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <input type="hidden" id="customerId" value="">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Customer Name" id="customerName">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Phone Number" id="customerPhone">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email" id="customerEmail">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="City" id="customerCity">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Region" id="customerRegion">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="updateCustomers()">Update</button>
            </div>
        </div>
    </div>
</div>