<div class="modal fade" id="updateProductType" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update Product Type</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="productTypeID" value="">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Product Type" id="productTypeName">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Min Value" id="minVal">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Max Value" id="maxVal">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="UOM" id="uom">
                    </div>
                    <div class="mb-3">
                        <label>Is Active?</label>
                        <input type="checkbox" name="isActive" id="isActive">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="updateProductTypes()">Update</button>
            </div>
        </div>
    </div>
</div>